description "node.js server"
author      "kvz - http://kevin.vanzonneveld.net"
# {{ ansible_managed }}

start on started mountall
stop on shutdown

respawn
respawn limit 99 5

script
    export HOME="/home/{{ ansible_user_id }}"
    export PORT="{{ conf.node_port }}"
    exec {{ node_path }}/node {{ conf.host_path }}/{{ project }}/{{ conf.start_script | default('bin/www') }} >> /var/log/node.{{ project }}.log 2>&1
end script

post-start script

end script
